input{
    padding: 8px 10px;
    font-size: large;
    border: 2px solid gray;
    border-radius: 5px;
}
input::placeholder{
    text-transform: capitalize;
    font-size: large;
    text-align: center;
}
input:focus{
    outline: none;
}
